<a href="https://colab.research.google.com/github/PacoSuarez7/The-Leqaning-Gate/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [4]:

file_csv = '/content/drive/My Drive/Colab Notebooks/empleadosRETO.csv'

EmpleadosAttrition = pd.read_csv(file_csv)
EmpleadosAttrition.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'HiringDate', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'Attrition'],
      dtype='object')

3. Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida. Hay algunas columnas que contienen información que no ayuda a definir el desgaste de un empleado

In [5]:
EmpleadosAttrition.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1, inplace = True)
EmpleadosAttrition.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'NumCompaniesWorked', 'HiringDate', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'Attrition'],
      dtype='object')

4. Analiza la información proporcionada, si detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’.
5. Crea una columna llamada Year y obtén el año de contratación del empleado a partir de su fecha ‘HiringDate’. No se te olvide que debe ser un entero.
6. Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.

In [6]:
#Eliminacion de row con errores (229)
EmpleadosAttrition.drop(229, axis = 0, inplace = True)

In [7]:
EmpleadosAttrition['Year'] = pd.DatetimeIndex(EmpleadosAttrition['HiringDate'], dayfirst = False).year.astype(int)
EmpleadosAttrition['YearsInCompany'] = 2018 - pd.DatetimeIndex(EmpleadosAttrition['HiringDate'], dayfirst = False).year.astype(int)
EmpleadosAttrition.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome            object
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
Gender                      object
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked           int64
HiringDate                  object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
Attrition                   object
Year                         int64
YearsInCompany               int64
dtype: object

7. La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera.
8. Renombra la variable DistanceFromHome a DistanceFromHome_km.
9. Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.

In [8]:
EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'}, inplace = True)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.split(' ', n=1 , expand = True)[0].astype(int)
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsInCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,3,32,1,2,4,1,No,2013,5,1
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,7,0,3,2,0,No,2015,3,6
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,2,1,3,3,0,1,Yes,2017,1,7
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,4,18,4,3,6,4,No,2010,8,7
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,4,15,2,4,6,7,Yes,2011,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,8,2,1,4,0,Yes,2013,5,14
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,4,2,3,2,2,Yes,2016,2,20
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,10,1,3,8,0,No,2008,10,11
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,4,7,5,2,0,0,No,2018,0,4
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,4,8,5,3,7,1,No,2010,8,14

10. Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.

In [9]:
EmpleadosAttrition.drop(['Year', 'HiringDate', 'DistanceFromHome_km'], axis = 1, inplace = True)

In [10]:
EmpleadosAttrition.columns

Index(['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'YearsInCompany',
       'DistanceFromHome'],
      dtype='object')

11 Genera una nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio

In [11]:
SueldoPromedioDepto = EmpleadosAttrition.groupby(['Department'])['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto.rename(columns={'MonthlyIncome':'SueldoPromedio'}, inplace = True)

In [12]:
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7192.609756

12. La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [13]:
scaler = MinMaxScaler()
EmpleadosAttrition['MonthlyIncome_scaled'] = scaler.fit_transform(EmpleadosAttrition[['MonthlyIncome']])

In [14]:
EmpleadosAttrition.drop(['MonthlyIncome'], axis = 1, inplace = True)

In [15]:
print(EmpleadosAttrition['MonthlyIncome_scaled'].min())
print(EmpleadosAttrition['MonthlyIncome_scaled'].max())

0.0
1.0

13. Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:

In [16]:
EmpleadosAttrition = pd.get_dummies(EmpleadosAttrition, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Attrition', 'OverTime'],
                             prefix=['BT', 'DEPT', 'EduF', 'Gen', 'JRole', 'Marital', 'Att', 'Overtime'])

In [17]:
EmpleadosAttrition.columns

Index(['Age', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsInCompany',
       'DistanceFromHome', 'MonthlyIncome_scaled', 'BT_Non-Travel',
       'BT_Travel_Frequently', 'BT_Travel_Rarely', 'DEPT_Human Resources',
       'DEPT_Research & Development', 'DEPT_Sales', 'EduF_Human Resources',
       'EduF_Life Sciences', 'EduF_Marketing', 'EduF_Medical', 'EduF_Other',
       'EduF_Technical Degree', 'Gen_Female', 'Gen_Male',
       'JRole_Healthcare Representative', 'JRole_Human Resources',
       'JRole_Laboratory Technician', 'JRole_Manager',
       'JRole_Manufacturing Director', 'JRole_Research Director',
       'JRole_Research Scientist', 'JRole_Sales Executive',
       'JRole_Sales Representative', 'Marital_Divorced', 'Marital_Married',
       'Marital_Single', 'Att_No', 'Att_Yes', 'Overtime_No', 'Overtime_Yes'],
      dtype='object')

In [18]:
EmpleadosAttrition.drop(['Gen_Male', 'Att_No', 'Overtime_No' ], axis = 1, inplace = True)

In [19]:
EmpleadosAttrition.columns

Index(['Age', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsInCompany',
       'DistanceFromHome', 'MonthlyIncome_scaled', 'BT_Non-Travel',
       'BT_Travel_Frequently', 'BT_Travel_Rarely', 'DEPT_Human Resources',
       'DEPT_Research & Development', 'DEPT_Sales', 'EduF_Human Resources',
       'EduF_Life Sciences', 'EduF_Marketing', 'EduF_Medical', 'EduF_Other',
       'EduF_Technical Degree', 'Gen_Female',
       'JRole_Healthcare Representative', 'JRole_Human Resources',
       'JRole_Laboratory Technician', 'JRole_Manager',
       'JRole_Manufacturing Director', 'JRole_Research Director',
       'JRole_Research Scientist', 'JRole_Sales Executive',
       'JRole_Sales Representative', 'Marital_Divorced', 'Marital_Married',
       'Marital_Single', 'Att_Yes', 'Overtime_Yes'],
      dtype='object')

In [20]:
EmpleadosAttrition = EmpleadosAttrition[['Att_Yes', 'Age', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked', 'Overtime_Yes',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsInCompany',
       'DistanceFromHome', 'MonthlyIncome_scaled', 'BT_Non-Travel',
       'BT_Travel_Frequently', 'BT_Travel_Rarely', 'DEPT_Human Resources',
       'DEPT_Research & Development', 'DEPT_Sales', 'EduF_Human Resources',
       'EduF_Life Sciences', 'EduF_Marketing', 'EduF_Medical', 'EduF_Other',
       'EduF_Technical Degree', 'Gen_Female',
       'JRole_Healthcare Representative', 'JRole_Human Resources',
       'JRole_Laboratory Technician', 'JRole_Manager',
       'JRole_Manufacturing Director', 'JRole_Research Director',
       'JRole_Research Scientist', 'JRole_Sales Executive',
       'JRole_Sales Representative', 'Marital_Divorced', 'Marital_Married',
       'Marital_Single']]

14. Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.

In [21]:
def color_negative_green(val):
    color = 'green' if val >= 0.1 or val <= -0.1 else 'black'
    return f'color: {color}'

def color_negative_red(val):
    color = 'red' if val > 0.195 or val < -0.195 else 'white'
    return f'color: {color}'

def highlight_value(val):
    if val >= 0.1 or val <= -0.1:
        return 'color: green'
    else:
        return 'color: black'

dep_var = 'Att_Yes'

correlacion = EmpleadosAttrition.corr()
mask = np.triu(np.ones(correlacion.shape), k=1).astype(bool)
corr_df = correlacion.mask(mask)
corr_df = corr_df.where(~np.eye(correlacion.shape[0], dtype=bool))

corr_df = corr_df.style.applymap(color_negative_green, subset=['Att_Yes']).applymap(highlight_value, subset=pd.IndexSlice[[dep_var], :])
corr_df

15. Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salidaAttrition; esto es equivalente a borrar las que no cumplen con el límite.

In [22]:
EmpleadosAttritionFinal = EmpleadosAttrition[['Att_Yes', 'Age', 'EnvironmentSatisfaction', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'Overtime_Yes',
       'TotalWorkingYears',
       'YearsInCurrentRole', 'YearsInCompany',
       'MonthlyIncome_scaled', 'BT_Non-Travel',
       'EduF_Technical Degree',
       'JRole_Healthcare Representative',
       'JRole_Laboratory Technician',
       'JRole_Research Director',
       'JRole_Sales Representative', 'Marital_Divorced',
       'Marital_Single']]
EmpleadosAttritionFinal

,Att_Yes,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,Overtime_Yes,TotalWorkingYears,YearsInCurrentRole,YearsInCompany,MonthlyIncome_scaled,BT_Non-Travel,EduF_Technical Degree,JRole_Healthcare Representative,JRole_Laboratory Technician,JRole_Research Director,JRole_Sales Representative,Marital_Divorced,Marital_Single
0,0,50,4,3,4,4,0,32,4,5,0.864269,0,0,0,0,1,0,1,0
1,0,36,2,3,2,2,0,7,2,3,0.207340,0,0,0,0,0,0,1,0
2,1,21,2,3,1,2,0,1,0,1,0.088062,0,0,0,0,0,1,0,1
3,0,52,2,3,3,2,0,18,6,8,0.497574,0,0,1,0,0,0,0,1
4,1,33,2,3,3,3,1,15,6,7,0.664470,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,33,3,3,1,4,1,8,4,5,0.075248,0,0,0,1,0,0,0,0
396,1,31,2,1,2,3,1,4,2,2,0.187197,0,0,0,0,0,0,0,0
397,0,37,2,3,3,4,1,10,8,10,0.589327,0,0,0,0,1,0,1,0
398,0,38,4,3,1,3,0,7,0,0,0.121124,0,0,0,1,0,0,0,0
399,0,33,4,3,1,2,0,8,7,8,0.092122,0,0,0,0,0,0,0,0

16.Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal.

In [23]:
pca = PCA(19)

pca.fit(EmpleadosAttritionFinal)

PCA(n_components=19)

17. Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal.

In [24]:
print(pca.explained_variance_ratio_)

[6.34024904e-01 2.41477631e-01 7.88353624e-02 2.10118156e-02
 6.48571268e-03 6.44194923e-03 2.99413992e-03 2.81192140e-03
 1.38379490e-03 1.10136873e-03 6.76374470e-04 6.35594362e-04
 5.03760302e-04 4.46088799e-04 3.92282014e-04 2.83417205e-04
 2.51068045e-04 2.17019354e-04 2.57956991e-05]

In [46]:
((pca.explained_variance_ratio_[0] + pca.explained_variance_ratio_[1] + pca.explained_variance_ratio_[2] )* 100).round(1).astype(str) + '%'
# Attrition + Age + EnvironmentSatisfaction
EmpleadosAttritionPCA = EmpleadosAttritionFinal[['Att_Yes', 'Age', 'EnvironmentSatisfaction']]

'95.4%'

18. Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal en un archivo CSV llamado EmpleadosAttritionFinal.csv

In [50]:
EmpleadosAttritionPCA.to_csv('/content/drive/My Drive/Colab Notebooks/EmpleadosAttritionFinal.csv', index = True)